<header class="header">

    <div class="header-middle sticky-header">
        <div class="container">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>

                <a href="/" class="logo">
                    <img src="/userAssets/images/icons/new-icon.png" alt="Molla Logo" width="150" height="25">
                </a>

                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li class="megamenu-container ">
                            <a href="/" class="sf-with-ul">Home</a>
                        </li>
                        <li>
                            <a href="/shop" class="sf-with-ul">Shop</a>
                        </li>

                        <li>
                            <a href="#" class="sf-with-ul">More</a>

                            <ul>
                                <li>
                                    <a href="about" class="sf-with-ul">About</a>
                                </li>
                                <li>
                                    <a href="contact.html" class="sf-with-ul">Contact</a>
                                </li>
                                <li><a href="faq">FAQs</a></li>

                            </ul>
                        </li>
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->
            </div><!-- End .header-left -->

            <div class="header-right">
                <div class="header-search">
                    <form action="/shop" method="get">
                        <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                        <div class="header-search-wrapper search-wrapper-wide">
                            <label for="q" class="sr-only">Search</label>
                            <input type="search" class="form-control" name="q" id="q"
                                placeholder="Search product ..." required>
                            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                        </div><!-- End .header-search-wrapper -->
                    </form>
                    
                </div><!-- End .header-search -->

                <div class="dropdown cart-dropdown">
                    <a href="/cart" class="dropdown-toggle"
                        aria-expanded="false" data-display="static">
                        <i class="icon-shopping-cart"></i>
                        <!-- <span class="cart-count"></span> -->
                    </a>
                </div><!-- End .cart-dropdown -->
            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-middle -->
</header><!-- End .header -->