<footer class="footer" style="margin-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="widget widget-about">
                    <img src="/adminAssets/imgs/icons/new-icon.png" class="footer-logo" alt="Footer Logo" width="150"
                        height="25">
                    <p>Digital Empire is your premier online store for the latest and most powerful laptops. Discover
                        top brands, exceptional deals, and unmatched customer service, all in one place.</p>
                    <div class="social-icons">
                        <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                class="icon-facebook-f"></i></a>
                        <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                        <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                class="icon-instagram"></i></a>
                        <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                        <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                class="icon-pinterest"></i></a>
                    </div><!-- End .soial-icons -->
                </div><!-- End .widget about-widget -->
            </div><!-- End .col-md-4 -->

            <div class="col-md-4">
                <div class="widget">
                    <h4 class="widget-title">Quick Links</h4><!-- End .widget-title -->
                    <ul class="widget-list">
                        <li><a href="about">About Us</a></li>
                        <li><a href="howShop">How to Shop</a></li>
                        <li><a href="faq">FAQ</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="signUp">Log In / Sign Up</a></li>
                    </ul><!-- End .widget-list -->
                </div><!-- End .widget -->
            </div><!-- End .col-md-4 -->

            <div class="col-md-4">
                <div class="widget">
                    <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->
                    <ul class="widget-list">
                        <li><a href="#">Track Order</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Support</a></li>
                    </ul><!-- End .widget-list -->
                </div><!-- End .widget -->
            </div><!-- End .col-md-4 -->
        </div><!-- End .row -->
    </div><!-- End .container -->

    <div class="footer-bottom">
        <div class="container">
            <p class="footer-copyright">Copyright © 2022 Irshad Sulthani. All Rights Reserved.</p>
            <figure class="footer-payments">
                <img src="/userAssets/images/payments.png" alt="Payment methods" width="272" height="20">
            </figure><!-- End .footer-payments -->
        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->