<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Digital Empire</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/userLoginAssets/fonts/material-icon/css/material-design-iconic-font.min.css">

    <link rel="icon" href="/userLoginAssets/images/new-icon.png" type="icon/png">

    <!-- Main css -->
    <link rel="stylesheet" href="/userLoginAssets/css/style.css">
    <!-- Include SweetAlert CDN link -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>