<script src="/userAssets/js/jquery.min.js"></script>
<script src="/userAssets/js/bootstrap.bundle.min.js"></script>
<script src="/userAssets/js/jquery.hoverIntent.min.js"></script>
<script src="/userAssets/js/jquery.waypoints.min.js"></script>
<script src="/userAssets/js/superfish.min.js"></script>
<script src="/userAssets/js/owl.carousel.min.js"></script>
<script src="/userAssets/js/bootstrap-input-spinner.js"></script>
<script src="/userAssets/js/jquery.magnific-popup.min.js"></script>
<script src="/userAssets/js/jquery.plugin.min.js"></script>
<script src="/userAssets/js/jquery.countdown.min.js"></script>

<!-- Main JS File -->
<script src="/userAssets/js/main.js"></script>
<script src="/userAssets/js/demos/demo-13.js"></script>

</body>

</html>