<!DOCTYPE html>
<html lang="en">


<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Digital Empire</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/userAssets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="favicon/jpg" sizes="32x32" href="/userAssets/images/icons/icon.jpg">
    <link rel="icon" type="favicon/jpg" sizes="16x16" href="/userAssets/images/icons/icon.jpg">
    <link rel="manifest" href="/userAssets/images/icons/site.html">
    <link rel="mask-icon" href="/userAssets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/userAssets/images/icons/icon.jpg">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="Assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/userAssets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/userAssets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/userAssets/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <div class="page-wrapper">


        <!-- page header ejs -->



        <%- include('../layouts/pageHeader') %>



            <main class="main">
                <div class="page-header text-center"
                    style="background-image: url('/userAssets/images/page-header-bg.jpg')">
                    <div class="container">
                        <h1 class="page-title">My Account<span>Shop</span></h1>
                    </div><!-- End .container -->
                </div><!-- End .page-header -->
                <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                    <div class="container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Shop</a></li>
                            <li class="breadcrumb-item active" aria-current="page">My Account</li>
                        </ol>
                    </div><!-- End .container -->
                </nav><!-- End .breadcrumb-nav -->
                <div class="page-content">
                    <div class="dashboard">
                        <div class="container">
                            <div class="row">
                                <aside class="col-md-4 col-lg-3">
                                    <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab"
                                                href="#tab-dashboard" role="tab" aria-controls="tab-dashboard"
                                                aria-selected="true">Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="tab-orders-link" data-toggle="tab"
                                                href="#tab-orders" role="tab" aria-controls="tab-orders"
                                                aria-selected="false">Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="tab-downloads-link" data-toggle="tab"
                                                href="#tab-downloads" role="tab" aria-controls="tab-downloads"
                                                aria-selected="false">Downloads</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="tab-address-link" data-toggle="tab"
                                                href="#tab-address" role="tab" aria-controls="tab-address"
                                                aria-selected="false">Adresses</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="tab-account-link" data-toggle="tab"
                                                href="#tab-account" role="tab" aria-controls="tab-account"
                                                aria-selected="false">Account Details</a>
                                        </li>
                                        <li class="nav-item">
                                            <a type="button" class="nav-link" id="logoutButton">Sign Out</a>
                                        </li>
                                    </ul>
                                </aside><!-- End .col-lg-3 -->

                                <div class="col-md-8 col-lg-9">
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel"
                                            aria-labelledby="tab-dashboard-link">
                                            <p>Hello <span class="font-weight-normal text-dark">User</span> (not <span
                                                    class="font-weight-normal text-dark">User</span>? <a href="#">Log
                                                    out</a>)
                                                <br>
                                                From your account dashboard you can view your <a href="#tab-orders"
                                                    class="tab-trigger-link link-underline">recent orders</a>, manage
                                                your <a href="#tab-address" class="tab-trigger-link">shipping and
                                                    billing addresses</a>, and <a href="#tab-account"
                                                    class="tab-trigger-link">edit your password and account details</a>.
                                            </p>
                                        </div><!-- .End .tab-pane -->

                                        <div class="tab-pane fade" id="tab-orders" role="tabpanel"
                                            aria-labelledby="tab-orders-link">
                                            <p>No order has been made yet.</p>
                                            <a href="category.html" class="btn btn-outline-primary-2"><span>GO
                                                    SHOP</span><i class="icon-long-arrow-right"></i></a>
                                        </div><!-- .End .tab-pane -->

                                        <div class="tab-pane fade" id="tab-downloads" role="tabpanel"
                                            aria-labelledby="tab-downloads-link">
                                            <p>No downloads available yet.</p>
                                            <a href="category.html" class="btn btn-outline-primary-2"><span>GO
                                                    SHOP</span><i class="icon-long-arrow-right"></i></a>
                                        </div><!-- .End .tab-pane -->

                                        <!-- <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
                                            <p>The following addresses will be used on the checkout page by default.</p>
    
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="card card-dashboard">
                                                        <div class="card-body">
                                                            <h3 class="card-title">Billing Address</h3><!-- End .card-title 
    
                                                            <p>User Name<br>
                                                            User Company<br>
                                                            John str<br>
                                                            New York, NY 10001<br>
                                                            1-234-987-6543<br>
                                                            yourmail@mail.com<br>
                                                            <a href="#">Edit <i class="icon-edit"></i></a></p>
                                                        </div><!-- End .card-body --
                                                    </div><!-- End .card-dashboard --
                                                </div><!-- End .col-lg-6 --
    
                                                <div class="col-lg-6">
                                                    <div class="card card-dashboard">
                                                        <div class="card-body">
                                                            <h3 class="card-title">Shipping Address</h3><!-- End .card-title --
    
                                                            <p>You have not set up this type of address yet.<br>
                                                            <a href="#">Edit <i class="icon-edit"></i></a></p>
                                                        </div><!-- End .card-body --
                                                    </div><!-- End .card-dashboard --
                                                </div><!-- End .col-lg-6 --
                                            </div><!-- End .row --
                                        </div>.End .tab-pane -->

                                        <div class="tab-pane fade" id="tab-address" role="tabpanel"
                                            aria-labelledby="tab-address-link">

                                            <h3 class="card-title mb-1"><b><u>Billing Address</u></b></h3>
                                            <!-- End .card-title -->


                                            <p style="color: red;" class="d-inline-flex p-2 ">*</p>


                                            <p>The <b>1st address</b> will be used on the checkout page by default.</p>

                                            <div class="row">

                                                <div class="col-lg-6">
                                                    <p><b>There has no Address Added</b></p>
                                                </div>


                                                <div class="col-lg-6">
                                                    <div class="card card-dashboard">
                                                        <div class="card-body">
                                                            <p><b>SI : </b><br>
                                                                <b>Name : </b><br>
                                                                <b>Mobile Number : </b><br>
                                                                <b>Location : </b>, , <br>
                                                                <b>Pincode : </b><br>

                                                                <b>Landmark : </b><br>

                                                                <b>Secondary Number : </b><br>

                                                                <a onmouseover="this.style.textDecoration = 'underline'"
                                                                    onmouseout="this.style.textDecoration = 'none'"
                                                                    href=""
                                                                    class="mr-3">Edit <i class="icon-edit"></i></a>
                                                                <a onmouseover="this.style.textDecoration = 'underline'; this.style.cursor = 'pointer'"
                                                                    onmouseout="this.style.textDecoration = 'none'"

                                                                    style="color: #d15a5e;">Delete<svg
                                                                        xmlns="http://www.w3.org/2000/svg" height="24px"
                                                                        viewBox="0 -960 960 960" width="14px"
                                                                        fill="#d15a5e">
                                                                        <path
                                                                            d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" />
                                                                    </svg></a>
                                                            </p>
                                                        </div><!-- End .card-body -->
                                                    </div><!-- End .card-dashboard -->
                                                </div><!-- End .col-lg-6 -->


                                                <div class="col-lg-6">
                                                    <div class="card card-dashboard">
                                                        <div class="card-body">
                                                            <h3 class="card-title">Shipping Address</h3>
                                                            <!-- End .card-title -->

                                                            <p>You Can Add upto 5 Adresses( %>
                                                                    remaining).<br>
                                                                    <a href="/addAddress">Add new Address <i
                                                                            class="icon-edit"></i></a></p>
                                                        </div><!-- End .card-body -->
                                                    </div><!-- End .card-dashboard -->
                                                </div><!-- End .col-lg-6 -->
                                            </div><!-- End .row -->
                                        </div><!-- .End .tab-pane -->

                                        <div class="tab-pane fade" id="tab-account" role="tabpanel"
                                            aria-labelledby="tab-account-link">
                                            <form action="#">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <label>First Name *</label>
                                                        <input type="text" class="form-control" required>
                                                    </div><!-- End .col-sm-6 -->

                                                    <div class="col-sm-6">
                                                        <label>Last Name *</label>
                                                        <input type="text" class="form-control" required>
                                                    </div><!-- End .col-sm-6 -->
                                                </div><!-- End .row -->

                                                <label>Display Name *</label>
                                                <input type="text" class="form-control" required>
                                                <small class="form-text">This will be how your name will be displayed in
                                                    the account section and in reviews</small>

                                                <label>Email address *</label>
                                                <input type="email" class="form-control" required>

                                                <label>Current password (leave blank to leave unchanged)</label>
                                                <input type="password" class="form-control">

                                                <label>New password (leave blank to leave unchanged)</label>
                                                <input type="password" class="form-control">

                                                <label>Confirm new password</label>
                                                <input type="password" class="form-control mb-2">

                                                <button type="submit" class="btn btn-outline-primary-2">
                                                    <span>SAVE CHANGES</span>
                                                    <i class="icon-long-arrow-right"></i>
                                                </button>
                                            </form>
                                        </div><!-- .End .tab-pane -->
                                    </div>
                                </div><!-- End .col-lg-9 -->
                            </div><!-- End .row -->
                        </div><!-- End .container -->
                    </div><!-- End .dashboard -->
                </div><!-- End .page-content -->

            </main><!-- End .main -->












            <!--  for the footer of the page 
        
        
        
        
        
        
        
        
        -->
            <%- include('../layouts/pageFooter') %>



    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                    placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->
    <script>
        document.getElementById('logoutButton').addEventListener('click', function () {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, log me out!'
            }).then((result) => {
                if (result.isConfirmed) {
                    // If confirmed, send a request to the logout endpoint
                    fetch('/logout', {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(response => {
                        console.log('Logout response:', response); // Debugging line
                        if (response.ok) {
                            // Redirect to login page or home page after successful logout
                            window.location.href = '/signUp';
                        } else {
                            Swal.fire(
                                'Error!',
                                'There was a problem logging you out.',
                                'error'
                            );
                        }
                    })
                    .catch(error => {
                        console.error('Error during fetch:', error); // Debugging line
                        Swal.fire(
                            'Error!',
                            'There was a problem logging you out.',
                            'error'
                        );
                    });
                }
            });
        });
    </script>
    

    <!-- Plugins JS File -->
    <script src="/userAssets/js/jquery.min.js"></script>
    <script src="/userAssets/js/bootstrap.bundle.min.js"></script>
    <script src="/userAssets/js/jquery.hoverIntent.min.js"></script>
    <script src="/userAssets/js/jquery.waypoints.min.js"></script>
    <script src="/userAssets/js/superfish.min.js"></script>
    <script src="/userAssets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="/userAssets/js/main.js"></script>

    <script>
        function redirectToAddress(event) {
            event.preventDefault();
            window.location.href = '/address'
        }
    </script>
</body>


<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->

</html>